.tableHeader {
    background-color: #F7C331;
    font-size: 22px;
    text-align: center;
    padding: 10px;
    text-shadow: 1px 1px 1px #6f717c;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: white;
    text-transform: uppercase;
    font-family: arial;
}

.btn {
    margin: 5px;
}

.spinner {
    margin: 0 auto;
}
